<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
<route url="/admin" module="News" action="index" />
<route url="/admin/" module="News" action="index" />
<route url="/admin/News" module="News" action="index" />
<route url="/admin/News-insert" module="News" action="insert" />
<route url="/admin/News-update-([0-9]+)" module="News" action="update" vars="id" />
<route url="/admin/News-delete-([0-9]+)" module="News" action="delete" vars="id" />
<route url="/admin/Comment-update-([0-9]+)" module="News" action="updateComment" vars="id" />
<route url="/admin/Comment-delete-([0-9]+)" module="News" action="deleteComment" vars="id" />
</routes>